@model MovieModel

<h4 class="text-center" style="margin-bottom: 50px;font-size: 30px;font-weight:300;line-height:1.2">Add The Movie Details</h4>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller=Movie asp-action=Add_New_Movie>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label> 
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label  asp-for="Description" class="control-label"></label>
                    @* <input  asp-for="Description" class="form-control"> *@
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input type="date" asp-for="ReleaseDate" class="form-control">
                    <span asp-validation-for="ReleaseDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control">
                    <span asp-validation-for="Director"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" accept="image/*">
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rank" class="control-label"></label>
                    <input asp-for="Rank" type="range" name="RankInputId" id="RankInputId" value="5" min="1" max="10" step="1" oninput="RankOutputId.value = RankInputId.value" min="0" max="10" step="1" value="5"  class="form-control-range">
                    @* <input type="range" name="RankInputId" id="RankInputId" value="5" min="1" max="10" step="1" oninput="RankOutputId.value = RankInputId.value"> *@
                    <output name="RankOutputId" id="RankOutputId">5</output>
                    <span asp-validation-for="Rank"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="+ Add" class="add-new-button" style="border: none;padding: 5px 10px;border-radius: 5px">
                </div>
            </form>
        </div>
    </div>
</div>