@model MVC.Models.AddMovieViewModel

<h4 class="text-center" style="margin-bottom: 50px;font-size: 30px;font-weight:300;line-height:1.2">Add The Movie Details</h4>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Movie" asp-action="Add_New_Movie" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label> 
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label  asp-for="Description" class="control-label"></label>
                    @* <input  asp-for="Description" class="form-control"> *@
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control">
                    <span asp-validation-for="ReleaseDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control">
                    <span asp-validation-for="Director"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" accept="image/*"><br/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="+ Add" class="add-new-button" style="border: none;padding: 5px 10px;border-radius: 5px">
                </div>
            </form>
        </div>
    </div>
</div>