@using Microsoft.AspNetCore.Identity
@using MVC.Controllers

@{
    ViewData["Title"] = "Home Page";
}


<h2>@ViewData["Signed"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-baseline">
            <a style="margin-bottom: 25px; margin-top: 86px" class="add-new-button"  asp-controller=Movie asp-action=Add_New_Movie>+ Add New Movie</a>

            <a class="add-new-button"  asp-controller=User asp-action=Index>Your Account</a>
   


        </div>
        <div class="col-md-8">
            <h4 class="text-center" style="margin-bottom: 50px;font-size: 30px;font-weight:300;line-height:1.2">List of all recent movie</h4>
            
                        @for (int i = 0; i < 10; i++)
                        {
                            <a class="movies-container-link" asp-controller=Movie asp-action="Index"  asp-route-id="1">
                                <div class="row movies-container">
                                    <div class="col-md-4" style="padding: 0">
                                        <img src="~/image/movie.jpg" alt="Movie Photo" style="height: 150px">
                                    </div>
                                    <div class="col-md-8">
                                        <p style="font-weight: 700">Movie Name</p>
                                        <span class="fa fa-star checked" style="color: orange"></span>
                                        <span style="font-weight: 700;font-size: 14px;">8.3</span>
                                        <span style="font-weight: 400;font-size: 12px;">/ 21,125</span>
                                        <p style="line-height: 16px; height: 103px;overflow: hidden;font-size: 14px;">During World War I, two British soldiers -- Lance Cpl. Schofield and Lance Cpl. Blake -- receive seemingly impossible orders. In a race against time, they must cross over into enemy territory to deliver a message that could potentially save 1,600 of their fellow comrades -- including Blake's own brother.</p>
                                    </div>
                                </div>
            
                            </a>
                        }


        </div>
    </div>
</div>
    

